<a href="https://colab.research.google.com/github/sylviarezk/Dataanalytics-2023/blob/main/popular_baby_names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/sylviarezk/Dataanalytics-2023/main/Popular_Baby_Names.csv')

In [ ]:
df_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Popular_Baby_Names.csv')

In [ ]:
df.head(3)

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42

In [ ]:
df.groupby(["Child's First Name"])['Count'].sum().sort_values(ascending=False)

Child's First Name
Ethan        10664
Jacob        10335
Liam         10069
Jayden        9494
Noah          9426
             ...
Kristina        10
Nayla           10
Kyree           10
Eshan           10
Cassandra       10
Name: Count, Length: 3211, dtype: int64

In [ ]:
df.groupby(['Year of Birth',"Child's First Name"])['Count'].first(10).sort_values(ascending=False)

Year of Birth  Child's First Name
2019           Liam                  423
2018           Liam                  399
2013           Jayden                352
2015           Ethan                 332
2011           ISABELLA              331
                                    ...
2014           Ayala                  10
2015           Rachel                 10
2018           Alvin                  10
2015           Quincy                 10
2011           NICOLETTE              10
Name: Count, Length: 10956, dtype: int64